@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "orig_poppins_regular"; */
}

.video-element {
  width: 100%;
  height: 95vh;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}
.font {
  font-style: normal;
  /* font-family: wfont_044ec0_8a940bae2f2740e789023089a84fc84d; */
}

.image-wrapper {
  position: relative;
  background-color: #1a1a1a;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10;
  width: 100vw;
  height: 120vh;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Dark background color with some transparency */
  z-index: 1; /* Make sure the overlay is below the text */
}

.video-wrapper {
  position: relative;
  background-color: #1a1a1a; /* Dark background color */
}

.video-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.8);
  /* Dark background color with some transparency */
  z-index: 1; /* Make sure the overlay is below the text */
}

.navigation {
  position: fixed;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 1.5rem 0rem;
  padding-left: 8%;
  padding-right: 8%;
  background: #fff;
  color: black;
  box-shadow: 10px 2px 8px grey;
  z-index: 99999;
}

.brand-name {
  text-decoration: none;
  color: black;
}

.navigation-menu {
  /* margin-left: auto; */
  align-items: center;
  flex-grow: 1;
}

.navigation-menu .navigation-links {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.navigation-menu .navigation-links ul {
  display: flex;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 2rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
/* .navigation-buttons {
  padding-right: "100px";
} */

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 1180px) {
  .hamburger {
    display: block;
  }

  .navigation-menu .navigation-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu .navigation-links ul {
    display: flex;
    flex-direction: column;
  }

  .navigation-menu .navigation-links .navigation-buttons {
    display: flex;
    flex-direction: column;
  }

  .navigation-menu .navigation-links .navigation-buttons a {
    border-bottom: 1px solid black;
    padding: 0.7rem;
  }

  .navigation-menu .navigation-links li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu .navigation-links li a {
    color: black;
    width: 100%;
    padding: 1.1rem 0;
    border-bottom: 1px solid black;
  }

  .navigation-menu .navigation-links a {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li:hover {
    background-color: #ebedf0;
  }

  .navigation-buttons :hover {
    background-color: #ebedf0;
  }

  .navigation-menu.expanded .navigation-links {
    display: block;
  }
  .navigation-links {
    display: flex;
    flex-direction: column;
  }
}
